.badge {
  font-size: 12px;
  background-color: var(--color-action-background);
  color: var(--color-text);
  padding: 8px 12px;
  border-radius: 20px;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
