.grid {
  display: grid;
  grid-template-rows: 55vh auto auto;

  .primary-image {
    background-size: cover;
    background-position-x: center;
  }

  .cat-details {
    padding: 1rem;
  }

  .secondary-images-container {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;

    .secondary-image {
      width: 100%;
    }
  }
}
