<!-- TODO: replace with fixed buttons and/or gestures-->
<button class="temporary-please-remove" (click)="swipeLeft()">left</button>
<button class="temporary-please-remove" (click)="swipeRight()">right</button>
<br />
<br />

<main class="grid">
  <div
    class="primary-image"
    [ngStyle]="{ 'background-image': 'url(' + cats[activeCatIndex].imagePathNames[0] + ')' }"
  ></div>

  <section class="cat-details">
    <h1>{{ cats[activeCatIndex].name }}</h1>
    <div class="cat-likes">
      @for (like of cats[activeCatIndex].likes;track $index) {
      <app-badge [text]="like"></app-badge>
      }
    </div>
    <p [innerHTML]="cats[activeCatIndex].bio"></p>
  </section>

  <section class="secondary-images-container">
    @for (catImg of cats[activeCatIndex].imagePathNames;track $index) {
    <img class="secondary-image" src="{{ catImg }}" alt="{{ cats[activeCatIndex].name }} picture - {{ $index }}" />
    }
  </section>
</main>
