.grid {
  display: grid;
  grid-template-rows: 55vh auto auto;

  .primary-image {
    background-size: cover;
    background-position-x: center;
  }

  .paw-buttons {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 24px;
    bottom: 0;
  }
}
