:root {
  --astra: #f2fabb;
  --brandy: #dcc48e;
  --bronze: #42280a;
  --cosmos: #ffd1d1;
  --quarter-spanish-white: #f8f4e5;
  --spice: #66462c;
  --tan: #d2b48c;
  --tuatara: #232321;
}

html {
  --color-background: var(--quarter-spanish-white);
  --color-text: var(--bronze);
  --color-action-background: var(--brandy);
  --color-success: var(--astra);
  --color-danger: var(--cosmos);
}

html.dark {
  --color-background: var(--tuatara);
  --color-text: var(--tan);
  --color-action-background: var(--spice);
  --color-success: var(--astra);
  --color-danger: var(--cosmos);
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--color-tundora);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Jua', sans-serif;
}

img {
  display: block;
}

p {
  margin: 0;
}
