:root {
  --green: #70792cff;
  --dark-brown: #42280aff;
  --brown: #66462cff;
  --beige: #dcc48eff;
  --creme: #f8f4e5ff;
  --paw-green-light: #f2fabb;
  --paw-red-light: #ffd1d1;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--color-tundora);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  background-color: var(--creme);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Jua', sans-serif;
}

img {
  display: block;
}

p {
  margin: 0;
}
