.paw {
  display: flex;
  justify-content: center;
  align-items: center;
  &-image {
    filter: drop-shadow(0 3px 3px rgb(0 0 0 / 0.5));
  }
}

.left {
  transform: rotate(-15deg);
}

.right {
  transform: rotate(15deg);
}
